<h2>Hola, <p id="datos"></p></h2>

<form [formGroup]="profileForm" class = "perfilUsuario" id="perfilUsuario">
  <h3>Datos</h3>
  <label for="nombre">Nombre <span>*</span></label>
  <input type="text" id="nombre" placeholder="Ingrese su nombre">
  <label for="apellido">Apellido <span>*</span></label>
  <input type="text" id="apellido" placeholder="Ingrese su apellido">
  <label for="mail">e-mail <span>*</span></label>
  <input type="text" id="mail" readonly="true">
  <label for="password">Contraseña <span>*</span></label>
  <input type="text" id="password" placeholder="Ingrese su contraseña">

  <button (click)="updateUser()">Actualizar perfil</button>
  <button (click)="deleteUser()">Eliminar perfil</button>
</form>
