<main>
  <div class="div-categorias" id="div-categorias">
    <ul id="ul-categoria" *ngFor="let category of categories">
      <li><button (click)="filterCategory(category.idCategoria)" class="btn">{{category.nombreCategoria}}</button></li>
    </ul>
  </div>
  <div class="div-carousel" id="div-carousel">
    <div class="slide">
      <div id="principal" class="principal">
        <h3 id="nombre"></h3>
        <img class="img-carousel" src="{{image1}}" alt="{{nombre}}">
      </div>
    </div>
      <div class="detalles">
        <div class="texto">Estado: {{estado}}</div>
        <div class="texto">Categoria: {{categoria}}</div>
        <div class="texto">Precio: {{precio}}</div>
      </div>
    <div>
      <button (click)="comprarItem()" class="btn1">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Comprar</button>
    </div>
    </div>
</main>
