<main>
  <div class="div-carousel" id="div-carousel">
    <div class="slide">
      <div id="principal" class="principal">
        <h3 id="nombre"></h3>
        <a class="left-arrow" onclick="plusSlides(-1)">&#11164;</a>
        <img class="img-carousel" src="{{img1}}" alt="{{nombre}}">
        <a class="right-arrow" onclick="plusSlides(1)">&#11166;</a>
      </div>
      <div class="detalles">
        <div class="texto">Estado: {{estado}}</div>
        <div class="texto">Categoria: {{categoria}}</div>
        <div class="texto">Precio: {{precio}}</div>
      </div>
    </div>
  </div>
</main>
