<main>
  <div class="div-carousel" id="div-carousel">
    <div class="slide">
      <div id="principal" class="principal">
        <h3>{{localStorage.nombre}}</h3>
        <a class="left-arrow" onclick="plusSlides(-1)">&#11164;</a>
        <img class="img-carousel" src="${element.imagen}" alt="${localStorage.getItem('nombre')}">
        <a class="right-arrow" onclick="plusSlides(1)">&#11166;</a>
      </div>
      <div class="detalles">
        <div class="texto">Estado: {{localStorage.getItem('estado')}}</div>
        <div class="texto">Tipo: {{localStorage.getItem('tipo')}}</div>
        <div class="texto">Precio: {{localStorage.getItem('precio')}}</div>
      </div>
    </div>
  </div>
</main>
