<main>

  <div class="div-main">
    <h2>¿Quienes somos?</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <h2>¿A qué nos dedicamos?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, aliquid commodi! Nulla labore, sunt ratione perferendis molestiae repudiandae voluptatem? Impedit facilis ut laboriosam eum beatae corporis quisquam provident, earum reprehenderit.</p>
    <h2>¿Nuestros objetivos?</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro ducimus corporis alias possimus eligendi velit veniam harum dignissimos esse quia, autem, enim doloribus ipsum suscipit, accusantium recusandae ipsam numquam vero?</p>
  </div>

</main>
