<footer>
  <div class="div-footer">
    <h3>Podes seguirnos en nuestras redes sociales</h3>
    <ul class="ul-footer">
      <li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a></li>
      <li><a href="http://instragram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="http://twitter.com/" target="_blank"><i class="fa-brands fa-square-twitter"></i></a></li>
    </ul>
    <h4>&#169; Derechos reservados</h4>
  </div>
</footer>
