<footer>
  <div class="div-footer">
    <h3>Podes seguirnos en nuestras redes sociales</h3>
    <ul class="ul-footer">
      <li><a href="https://facebook.com/" target="_blank"><img src="assets/facebook.png" alt="Facebook"></a></li>
      <li><a href="http://instragram.com/" target="_blank"><img src="assets/instagram.png" alt="Instagram"></a></li>
      <li><a href="http://twitter.com/" target="_blank"><img src="assets/twitter.png" alt="Twitter"></a></li>
    </ul>
  </div>
  <h4>&#169; Derechos reservados</h4>
</footer>
