<main>
  <div>
    <div class="title">
      <h2>Contactate con nosotros</h2>
    </div>
    <form class="contacto" #form="ngForm" (submit)="sendEmail($event, form)">
      <div class="contact-input">
        <label for="nombre">Nombre <span>*</span></label>
        <input name="nombre" type="text" id="nombre" [(ngModel)]="newContact.nombreContact" placeholder="Ingrese su nombre" required>
        <label for="apellido">Apellido <span>*</span></label>
        <input name="apellido" type="text" id="apellido" [(ngModel)]="newContact.apellidoContact" placeholder="Ingrese su apellido" required>
        <label for="mail">e-mail <span>*</span></label>
        <input name="mail" type="text" id="mail" [(ngModel)]="newContact.mailContact" placeholder="Ingrese su mail">
        <label for="asuntoForm">Asunto <span>*</span></label>
        <input name="asuntoForm" type="text" id="asuntoForm" [(ngModel)]="newContact.asuntoContact" placeholder="Ingrese el motivo de contacto" required>
        <label for="mensajeForm">Mensaje <span>*</span></label>
        <textarea name="mensajeForm" id="mensajeForm" [(ngModel)]="newContact.mensajeContact" placeholder="Ingrese su mensaje" required></textarea>

        <button class="btn1" type="submit">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Enviar
        </button>
      </div>
    </form>
  </div>
</main>
