<main>
  <div>
    <h2>Si quieres ponerte en contacto con nosotros puedes completar el siguiente formulario</h2>

    <form class="contacto" id="contacto">
      <h3>Datos</h3>
      <label for="nombre">Nombre <span>*</span></label>
      <input type="text" id="nombre" placeholder="Ingrese su nombre" required>
      <label for="apellido">Apellido <span>*</span></label>
      <input type="text" id="apellido" placeholder="Ingrese su apellido" required>
      <label for="mail">e-mail <span>*</span></label>
      <input type="text" id="mail" placeholder="Ingrese su mail">
      <label for="asuntoForm">Asunto <span>*</span></label>
      <input type="text" id="asuntoForm" placeholder="Ingrese el motivo de contacto" required>
      <label for="MensajeForm">Mensaje <span>*</span></label>
      <input type="text" id="MensajeForm" placeholder="Ingrese su mensaje" required>

      <button>Enviar</button>
    </form>
  </div>
</main>
