<main>
  <h2>¡Nuestros nuevos productos!</h2>
  <div class="div-carousel" id="div-carousel">
    <button class="left-arrow"></button>
    <button class="right-arrow"></button>
    <div *ngFor="let item of itemsToShow" class="">

    </div>
    <a class="left-arrow" onclick="plusSlides(-1)">&#11164;</a>
    <a class="right-arrow" onclick="plusSlides(1)">&#11166;</a>
  </div>

  <h2>¡Algunas de nuestras recomendaciones!</h2>
  <div class="cards" id="div-cards" *ngFor="let recomendacion of recomendaciones">
    <div class="card">
      <h3>{{recomendacion.nombreRecomendacion}}</h3>
      <img class="img-card" src="{{recomendacion.imgRecomendacion}}" alt="{{recomendacion.nombreRecomendacion}}">
      <div class="card-text">
        <p>"{{recomendacion.comentarioRecomendacion}}"</p>
        <p>{{recomendacion.fechaRecomendacion}}</p>
      </div>
    </div>
  </div>
</main>
