<div class="div-tienda">
  <div class="div-categorias" id="div-categorias">
    <ul id="ul-categoria" *ngFor="let category of categories">
      <li><button (click)="filterCategory(category.idCategoria)" class="btn">{{category.nombreCategoria}}</button></li>
    </ul>
  </div>
  <div class="div-contenedor">
    <div id="contenedor" class="contenedor" *ngFor="let item of items">
      <div class="card" (click)="seeDetails(item.idItem)">
        <button class="linkProducto" id="{{item.idItem}}">{{item.nombreItem}}</button>
        <img class="img-card" src="{{item.img1}}" alt="{{item.nombreItem}}">
      </div>
    </div>
  </div>
</div>
